/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: fit-content;
}

#root {
    background-image: url(./Assets/img/bg.jpg);
    background-size: contain;
    background-repeat: repeat;
}

.login-page {
    height: auto;
    background: white;
}

.main-page {
    height: 655vh;
}
