@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    background-image: url(./Assets/img/bg.jpg) ;
    height: 1000vh;
    background-size: contain;
    background-repeat: repeat;
}

